:root {
    --sui-border-color: #ddd;
    --sui-filled-bg-color: #f4f4f4;
    --sui-point-color: #6366F1;
    --sui-button-hover-color: #4F46E5;
    --sui-disabled-border-color: #cccccc;
    --sui-disabled-text-color: #aaa;
    --sui-disabled-bg-color: #ececec;
    --sui-error-border-color: #d40a36;
    --sui-error-text-color: #d40a36;
}