@use 'sass:map';

$input-sizes-map: (
    sm: (
        width: 100px,
        height: 30px,
        font-size: 14px
    ),
    md: (
        width: 150px,
        height: 40px,
        font-size: 16px
    ),
    lg: (
        width: 200px,
        height: 50px,
        font-size: 18px
    )
);

.sui-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  max-width: 100%;

  &__hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  input {
    border: 1px solid var(--sui-border-color);
    border-radius: var(--input-radius);
    padding: 4px;
    max-width: 100%;

    &:disabled {
      background: var(--sui-disabled-bg-color);
      color: var(--sui-disabled-text-color);
      border-color: var(--sui-disabled-border-color);
    }
    &:focus {
      outline-color: var(--sui-point-color);
    }
  }

  &__error-message {
    color: var(--sui-error-text-color);
    font-size: 12px;
  }

  @each $size, $value in $input-sizes-map {
    &--#{$size} {
      input {
        @each $key, $value in $value {
          #{$key}: $value;
        }
      }
    }
  }
  
  &--filled {
    input {
      border: none!important;
      background: var(--sui-filled-bg-color);
      border-radius: var(--input-radius);
      padding: 4px 8px;
    }
  }

  &--underline {
    input {
      border: none;
      border-bottom: 2px solid var(--sui-border-color);
      border-radius: 0!important;
      outline: none;

      &:focus {
        border-color: var(--sui-point-color);
        outline: none;
      }
    }
  }

  &--full-width {
    width: 100%;
    input {
      width: 100%;
    }
  }
}